@import url("https://fonts.googleapis.com/css?family=Lora|Ubuntu");
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");

body {
	font-family:'Ubuntu Condensed', sans-serif;
	font-size: 18px;
	margin: 0px;
}
h1,h2,h3 {
	font-family: 'Lora', serif;
	font-weight: lighter;
}
p {
	font-size: 20px;
	margin: -200px;
    font-size: 17px;
    padding-right: 200px;
}
a {
	text-decoration: none;
}